# Default ignored files
/shelf/
/.idea/workspace.xml
/appunti.txt


# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

*.idea
*.iml
target/
